@page "/shows/{ShowId}"
@using Microsoft.EntityFrameworkCore
@using CineStream.Data

@inject IDbContextFactory<CineStreamContext> DbFactory

<PageTitle>Show</PageTitle>

@if ((appShow != null) && (appShow.Title != null) && (appShow.Details != null))
{
    <h1><i class="bi bi-camera-reels-fill" aria-hidden="true"></i> @appShow.Title</h1>

    <div class="clr-row">
    <div class="clr-col-12">
        <Card>
            <CardHeader>
                <i class="bi bi-info-circle-fill" aria-hidden="true"></i> Details
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        @appShow.Details
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
    <div class="clr-col-12">
        <Card>
            <CardHeader>
                <i class="bi bi-tv-fill" aria-hidden="true"></i> Platform
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        @appShowPlatform.Name
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
</div>
}

@code
{
    [Parameter]
    public string? ShowId { get; set; }
    private Show? appShow { get; set; }
    private Platform? appShowPlatform;
    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        using var context = DbFactory.CreateDbContext();

        appShow = await context.Shows!.FirstOrDefaultAsync(c => c.ShowId.ToString() == ShowId);
        if (appShow != null)
        {
            var platformShow = await context.PlatformShows!.FirstOrDefaultAsync(c => c.ShowId == appShow.ShowId);
            appShowPlatform = await context.Platforms!.FirstOrDefaultAsync(c => c.PlatformId == platformShow.PlatformId);
        }

    }

}
