@page "/users/{UserId}/add-platform"
@using Microsoft.EntityFrameworkCore
@using CineStream.Data

@inject IDbContextFactory<CineStreamContext> DbFactory

@inject NavigationManager NavManager

<PageTitle>Add Platform</PageTitle>

<h1><i class="bi bi-plus-circle-fill" aria-hidden="true"></i> Add Platform</h1>

<div class="clr-row">
    <div class="clr-col-lg-6 clr-col-12">
        <Card>
            <CardBody>
                <CardBlock>
                    <Form Model="selectedPlatform" OnValidSubmit="HandleValidSubmit" Layout="FormLayout.Vertical">
                        <DataAnnotationsValidator />

                        <InputCombobox Label="Select Value" TItem="Platform" Items="@AppPlatforms"
                            @bind-SelectedItem="selectedPlatform" ItemToText="o => o?.Name"
                            ValidationFor="() => selectedPlatform" HelpText="A value selection is required.">
                            <ItemTemplate Context="selectedPlatform">
                                @selectedPlatform.Name
                            </ItemTemplate>
                        </InputCombobox>

                        <Button class="mt-3" Variant="Primary" type="submit">Submit</Button>
                    </Form>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
</div>

@code {
    [Parameter] public string? UserId { get; set; }
    private Platform selectedPlatform = new Platform();

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private ICollection<Platform>? AppPlatforms { get; set; }

    // Get all platforms that are not already associated with the user
    private async Task LoadDataAsync()
    {
        ICollection<Platform> appUserPlatforms = new List<Platform>();

        using var context = DbFactory.CreateDbContext();

        var allPlatforms = await context.Platforms!.ToListAsync();
        var userPlatforms = await context.PlatformUsers!.Where(c => c.UserId.ToString() == UserId).ToListAsync();

        foreach (var userPlatform in userPlatforms)
        {
            var platform = await context.Platforms!.FirstOrDefaultAsync(c => c.PlatformId == userPlatform.PlatformId);
            if (platform != null) appUserPlatforms.Add(platform);
        }

        AppPlatforms = allPlatforms.Except(appUserPlatforms).ToList();

    }

    private async Task HandleValidSubmit()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        PlatformUser userPlatform = new PlatformUser();
        userPlatform.PlatformId = selectedPlatform.PlatformId;
        userPlatform.UserId = int.Parse(UserId);
        userPlatform.SubscriptionDate = DateTime.Now;
        context.PlatformUsers?.Add(userPlatform);
        await context.SaveChangesAsync();
        NavManager.NavigateTo("/users/" + UserId);
    }
}