@page "/users/new"
@using Microsoft.EntityFrameworkCore
@using CineStream.Data

@inject IDbContextFactory<CineStreamContext> DbFactory

@inject NavigationManager NavManager

<PageTitle>New User</PageTitle>

<h1><i class="bi bi-plus-circle-fill" aria-hidden="true"></i> New User</h1>

<div class="clr-row">
    <div class="clr-col-lg-6 clr-col-12">
        <Card>
            <CardBody>
                <CardBlock>
                    <Form Model="newUser" OnValidSubmit="HandleValidSubmit" Layout="FormLayout.Vertical">
                        <DataAnnotationsValidator />

                        <Text @bind-Value="newUser.Username" Label="Username" HelpText="Username"
                            ValidationFor="() => newUser.Username" />
                        <Text @bind-Value="newUser.Email" Label="Email" HelpText="Email"
                            ValidationFor="() => newUser.Email" />
                        <Textarea @bind-Value="newUser.Details" Label="Details" HelpText="User Details"
                            ValidationFor="() => newUser.Details" />

                        <Button class="mt-3" Variant="Primary" type="submit">Submit</Button>
                    </Form>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
</div>

@code {
    private User newUser = new User();

    private async Task HandleValidSubmit()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        newUser.CreatedAt = DateTime.Now;
        context.Users?.Add(newUser);
        await context.SaveChangesAsync();
        NavManager.NavigateTo("/users");
    }
}