@page "/platforms"
@using Microsoft.EntityFrameworkCore
@using CineStream.Data

@inject IDbContextFactory<CineStreamContext> DbFactory

<PageTitle>Platforms</PageTitle>

<h1><i class="bi bi-tv-fill" aria-hidden="true"></i> Platforms</h1>

<Tabs>
    <Tab>
        <Header>Platforms</Header>
        <ChildContent>
            <NavLink href="/platforms/new">
                <Button Variant="Primary">
                    <i class="bi bi-plus-circle-fill" aria-hidden="true"></i> New Platform
                </Button>
            </NavLink>
            @if (platforms != null)
            {
                <Datagrid Items="platforms">
                    <DatagridColumn Title="PlatformId" TRowData="Platform" Field="c => c.PlatformId" CanSort="true"
                        CanFilter="true" FilterImmediately="true" />
                    <DatagridColumn Title="Name" TRowData="Platform" Field="c => c.Name" CanSort="true" CanFilter="true"
                        FilterImmediately="true" />
                    <DatagridColumn Title="CreatedAt" TRowData="Platform" Field="c => c.CreatedAt.ToString()" CanSort="true"
                        CanFilter="true" FilterImmediately="true" />
                    <DatagridColumn Title="Users" TRowData="Platform">
                        <a href="@($"/platforms/{@context?.PlatformId}/users")" class="btn btn-primary">
                            <i class="bi bi-people-fill" aria-hidden="true"></i> Users
                        </a>
                    </DatagridColumn>
                    <DatagridColumn Title="Shows" TRowData="Platform">
                        <a href="@($"/platforms/{@context?.PlatformId}/shows")" class="btn btn-primary">
                            <i class="bi bi-camera-reels-fill" aria-hidden="true"></i> Shows
                        </a>
                    </DatagridColumn>
                    <DatagridColumn Title="Details" TRowData="Platform">
                        <a href="@($"/platforms/{@context?.PlatformId}")" class="btn btn-primary">
                            <i class="bi bi-tv-fill" aria-hidden="true"></i> Details
                        </a>
                    </DatagridColumn>
                </Datagrid>
            }
        </ChildContent>
    </Tab>
</Tabs>

@code {
    private ICollection<Platform>? platforms { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadPlatformsAsync();
    }

    private async Task LoadPlatformsAsync()
    {
        try
        {
            using var context = await DbFactory.CreateDbContextAsync();
            platforms = await context.Platforms!.ToListAsync();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error loading platforms: {ex.Message}");
        }
    }
}