@page "/"

<PageTitle>CineStream</PageTitle>

<h1><span class="bi bi-house-fill" aria-hidden="true"></span> CineStream</h1>

<p>CineStream project helps managing streaming platforms, media and users in the DB.</p>

<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-12">
        <Card>
            <CardHeader>
                <NavLink href="platforms">Platforms</NavLink>
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        <ul>
                            <li>List the platforms in the DB</li>
                            <li>Delete a platform from the DB</li>
                            <li>List the users of a platform in DB</li>
                            <li>List the shows of a platform in DB</li>
                        </ul>
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <Card>
            <CardHeader>
                <NavLink href="shows">Shows</NavLink>
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        <ul>
                            <li>List the shows in the DB</li>
                            <li>Delete a show from the DB</li>
                        </ul>
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <Card>
            <CardHeader>
                <NavLink href="users">Users</NavLink>
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        <ul>
                            <li>List the users in the DB</li>
                            <li>Delete a user from the DB</li>
                            <li>List the shows of a user in DB</li>
                        </ul>
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
</div>

<Card>
    <CardHeader>
        Tech Stack
    </CardHeader>
    <CardBody>
        <CardBlock>
            <CardText>
                <ul>
                    <li>Blazor WebAssembly</li>
                    <li>.NET 8.0</li>
                    <li>Entity Framework Core</li>
                    <li>Azure Data Studio</li>
                    <li>Bootstrap 5</li>
                    <li>Blazority</li>
                </ul>
            </CardText>
        </CardBlock>
    </CardBody>
</Card>
