@page "/"

<PageTitle>CineStream</PageTitle>

<h1><span class="bi bi-house-fill" aria-hidden="true"></span> CineStream</h1>

<div class="clr-row">
    <div class="clr-col-12">
        <Card>
            <CardHeader>
                <i class="bi bi-info-circle-fill" aria-hidden="true"></i> Details
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        CineStream app helps managing streaming platforms, media and users in the DB.
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <Card>
            <CardHeader>
                <NavLink href="platforms"><i class="bi bi-tv-fill" aria-hidden="true"></i> Platforms</NavLink>
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        <ul>
                            <li>List the platforms in the DB</li>
                            <li>Add a new platform to the DB</li>
                            <li>Delete a platform from the DB</li>
                            <li>List and manage users of a platform in the database</li>
                            <li>List and manage shows of a platform in the database</li>
                        </ul>
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <Card>
            <CardHeader>
                <NavLink href="shows"><i class="bi bi-camera-reels-fill" aria-hidden="true"></i> Shows</NavLink>
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        <ul>
                            <li>List all shows in the database</li>
                            <li>Add a new show to the database</li>
                            <li>Delete a show from the database</li>
                            <li>Update and manage platforms of a show in the database</li>
                            <li>Update and manage users of a show in the database</li>
                        </ul>
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <Card>
            <CardHeader>
                <NavLink href="users"><i class="bi bi-people-fill" aria-hidden="true"></i> Users</NavLink>
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        <ul>
                            <li>List all users in the database</li>
                            <li>Add a new user to the database</li>
                            <li>Delete a user from the database</li>
                            <li>List and manage platforms of a user in the database</li>
                            <li>List and manage shows of a user in the database</li>
                        </ul>
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
</div>

<Card>
    <CardHeader>
        <i class="bi bi-stack" aria-hidden="true"></i> Tech Stack
    </CardHeader>
    <CardBody>
        <CardBlock>
            <CardText>
                <ul>
                    <li>.NET 8.0</li>
                    <li>Blazor WebAssembly</li>
                    <li>Docker</li>
                    <li>Entity Framework Core</li>
                    <li>Azure Data Studio</li>
                    <li>Bootstrap 5</li>
                    <li>Blazority</li>
                </ul>
            </CardText>
        </CardBlock>
    </CardBody>
</Card>
