@page "/"

<PageTitle>CineStream</PageTitle>

<h1><span class="bi bi-house-fill" aria-hidden="true"></span> CineStream</h1>

<div class="clr-row">
    <div class="clr-col-12">
        <Card>
            <CardHeader>
                <i class="bi bi-info-circle-fill" aria-hidden="true"></i> Details
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        CineStream app helps managing streaming platforms, media and users in the DB easily.
                        <br />
                        You can easily organize your media content, manage user access and integrate
                        with multiple streaming platforms from a single UI.
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <Card>
            <CardHeader>
                <NavLink href="platforms"><i class="bi bi-tv-fill" aria-hidden="true"></i> Platforms</NavLink>
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        <ul>
                            <li>View all platforms in the database</li>
                            <li>Add or remove platforms</li>
                            <li>Manage users associated with each platform</li>
                            <li>Manage shows associated with each platform</li>
                        </ul>
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <Card>
            <CardHeader>
                <NavLink href="shows"><i class="bi bi-camera-reels-fill" aria-hidden="true"></i> Shows</NavLink>
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        <ul>
                            <li>View all shows in the database</li>
                            <li>Add, update, or delete shows</li>
                            <li>Manage platforms associated with each show</li>
                            <li>Manage users associated with each show</li>
                        </ul>
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <Card>
            <CardHeader>
                <NavLink href="users"><i class="bi bi-people-fill" aria-hidden="true"></i> Users</NavLink>
            </CardHeader>
            <CardBody>
                <CardBlock>
                    <CardText>
                        <ul>
                            <li>View all users in the database</li>
                            <li>Add or remove users</li>
                            <li>Manage platforms associated with each user</li>
                            <li>Manage shows associated with each user</li>
                        </ul>
                    </CardText>
                </CardBlock>
            </CardBody>
        </Card>
    </div>
</div>

<Card>
    <CardHeader>
        <i class="bi bi-stack" aria-hidden="true"></i> Tech Stack
    </CardHeader>
    <CardBody>
        <CardBlock>
            <CardText>
                <ul>
                    <li>.NET 8.0</li>
                    <li>Blazor WebAssembly</li>
                    <li>Docker</li>
                    <li>Entity Framework Core</li>
                    <li>Azure Data Studio</li>
                    <li>MSSQL</li>
                    <li>Bootstrap 5</li>
                    <li>Blazority</li>
                </ul>
            </CardText>
        </CardBlock>
    </CardBody>
</Card>
