@page "/platforms/{PlatformId}"
@using Microsoft.EntityFrameworkCore
@using CineStream.Data

@inject IDbContextFactory<CineStreamContext> DbFactory

<PageTitle>Platform</PageTitle>

@if ((appPlatform != null) && (appPlatform.Name != null))
{
    <h1><i class="bi bi-tv-fill" aria-hidden="true"></i> @appPlatform.Name</h1>
}

Details

@code
{
    [Parameter]
    public string? PlatformId { get; set; }
    private Platform? appPlatform { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        using var context = DbFactory.CreateDbContext();

        appPlatform = await context.Platforms!.FirstOrDefaultAsync(c => c.PlatformId.ToString() == PlatformId);

    }

}
