@page "/platforms"
@using Microsoft.EntityFrameworkCore
@using CineStream.Data

@inject IDbContextFactory<CineStreamContext> DbFactory

<PageTitle>Platforms</PageTitle>

<h1><i class="bi bi-tv-fill" aria-hidden="true"></i> Platforms</h1>

<Tabs>
    <Tab>
        <Header>Platforms</Header>
        <ChildContent>
            @if (AppPlatforms != null)
            {
                <Datagrid Items="AppPlatforms">
                    <DatagridColumn Title="PlatformId" TRowData="Platform" Field="c => c.PlatformId" CanSort="true"
                        CanFilter="true" FilterImmediately="true" />
                    <DatagridColumn Title="Name" TRowData="Platform" Field="c => c.Name" CanSort="true" CanFilter="true"
                        FilterImmediately="true" />
                    <DatagridColumn Title="CreatedAt" TRowData="Platform" Field="c => c.CreatedAt.ToString()" CanSort="true"
                        CanFilter="true" FilterImmediately="true" />
                    <DatagridColumn Title="Users" TRowData="Platform">
                        <a href="@($"/platforms/{@context?.PlatformId}/users")" class="btn btn-primary"><i
                                class="bi bi-people-fill" aria-hidden="true"></i> Users</a>
                    </DatagridColumn>
                    <DatagridColumn Title="Shows" TRowData="Platform">
                        <a href="@($"/platforms/{@context?.PlatformId}/shows")" class="btn btn-primary"><i
                                class="bi bi-camera-reels-fill" aria-hidden="true"></i> Shows</a>
                    </DatagridColumn>
                </Datagrid>
            }
        </ChildContent>
    </Tab>
</Tabs>

@code {
    private ICollection<Platform>? AppPlatforms { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        using var context = DbFactory.CreateDbContext();

        AppPlatforms = await context.Platforms!.ToListAsync();

    }
}
