@page "/users/{UserId}"
@using Microsoft.EntityFrameworkCore
@using CineStream.Data

@inject IDbContextFactory<CineStreamContext> DbFactory

<PageTitle>User</PageTitle>

@if ((appUser != null) && (appUser.Username != null))
{
    <h1><i class="bi bi-camera-reels-fill" aria-hidden="true"></i> @appUser.Username</h1>

    <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-12">
            <Card>
                <CardHeader>
                    <NavLink href=@($"users/{UserId}/shows")><i class="bi bi-camera-reels-fill" aria-hidden="true"></i>
                        Shows</NavLink>
                </CardHeader>
                <CardBody>
                    <CardBlock>
                        <CardText>
                            <ul>
                                <li>List the shows in the DB</li>
                                <li>Delete a show from the DB</li>
                            </ul>
                        </CardText>
                    </CardBlock>
                </CardBody>
            </Card>
        </div>
    </div>
}

@code
{
    [Parameter]
    public string? UserId { get; set; }
    private User? appUser { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        using var context = DbFactory.CreateDbContext();

        appUser = await context.Users!.FirstOrDefaultAsync(c => c.UserId.ToString() == UserId);

    }

}
